<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f| %>
    <h3>Quên mật khẩu của bạn?</h3>
    <p>Chúng tôi sẽ gửi cho bạn email hướng dẫn lấy lại mật khẩu.</p>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
    </div>
     <%= f.submit 'Lấy lại mật khẩu', :class => 'button right' %>
  <% end %>
</div>
