= simple_form_for(@order) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :address
    = f.input :email
    = f.select :pay_type, colcection: Order::PAYMENT_TYPES, prompt: "Select your age"

  %br

  .form-actions
    = f.button :submit, value: 'Place Order'