.gridRow
  .span16
    #cart
      - unless @cart.line_items.empty?
        =render @cart
    .refine
      %strong Refine
    .category
      .title 
        %strong Category
      .contain
  .span64
    .productRow
      - @products.each do |product|
        .productDetail
          .image
            = image_tag(product.image_url)
          .title
            = link_to product.title, product
          .des
            = product.description
          .price
            = number_to_currency(product.price)
          .btnAddToCart
            = button_to 'Add to Cart', line_items_path(product_id: product), class: 'btn btn-primary', remote: true
        
    .col-md-12.text-center
      .pagination
        = paginate @products