.text-center
  %p#notice= notice

  %p
    %b Tên Sản phẩm:
    = @product.title
  %p
    %b Mô tả:
    = @product.description
  %p
    %b Giá:
    = @product.price
  %p
    %b Hình ảnh :
    = image_tag @product.image.url

  -if admin_signed_in?
    = link_to 'Edit', edit_product_path(@product)
    \|
  = link_to 'Back', products_path
