#slider
  .slide.active 
    = image_tag("slide1.jpg")
    .caption
      %h5 for slide1
  .slide
    = image_tag("slide2.jpg")
    .caption
      %h5 for slide2
  .slide 
    = image_tag("slide3.jpg")
    .caption
      %h5 for slide3
  /
    .slide 
      = image_tag("slide1.jpg")
      .caption
        %h5 for slide4
  .button-control
    .button-left
      %i.fa.fa-chevron-left
    .button-right
      %i.fa.fa-chevron-right
  .bullets
    %i.button.active.fa.fa-circle
    %i.button.fa.fa-circle
    %i.button.fa.fa-circle
    / %i.button4.fa.fa-circle
#slider.new-product
  %h3 Sản phẩm mới
  .slider-product-new
    - @products.limit(20).offset(7).each do |product|
      .product-box
        .image
          = link_to image_tag(product.image.url),product
        .title
          = link_to product.title, product
        .des
          = product.description
        .price
          = number_to_currency(product.price, unit: "VNĐ ")
    .slide
    .button-control
      .button-left
        %i.fa.fa-chevron-left
      .button-right
        %i.fa.fa-chevron-right
#slider.top-sell-product
  %h3 Sản phẩm bán chạy
  .slider-top-sell-product
    - @products.each do |product|
      .product-box
        .image
          = link_to image_tag(product.image.url),product
        .title
          = link_to product.title, product
        .des
          = product.description
        .price
          = number_to_currency(product.price, unit: "VNĐ ")
    .button-control
      .button-left
        %i.fa.fa-chevron-left
      .button-right
        %i.fa.fa-chevron-right

