
#myCarousel.carousel.slide.visible-md.visible-lg{"data-ride" => "carousel"}
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
  / Items
  #slider.carousel-inner
    / Item 1
    .item.active
      = image_tag 'sl3'
      .container
        .carousel-caption
          %h1 Online shopping TMshop
          %p Cùng trải nghiệm TMshop và mua hàng trực tuyến 
          %p
            %a.btn.btn-lg.btn-primary{:href => "http://localhost:3000"} Tìm hiểu thêm
    / Item 2
    .item
      = image_tag 'sl1'
      .container
        .carousel-caption
          %h1 Mua sắm món hàng bạn thích
          %p Thỏa sức mua sắm bất kỳ mặt hàng nào mà bạn ưa thích 
          %p
            %a.btn.btn-large.btn-primary{:href => "#"} Mua sắm ngay
    / Item 3
    .item
      = image_tag 'sl2'
      .container
        .carousel-caption
          %h1 Tiện lợi, giao hàng nhanh
          %p Giao hàng nhanh trong vòng 24h
          %p
            %a.btn.btn-large.btn-primary{:href => "#"} Câu hỏi thường gặp khi mua hàng trực tuyến
  / Controls
  %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
    %span.icon-prev
  %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
    %span.icon-next

.clear





#slider.new-product
  %h3 Sản phẩm mới
  #myCarousel.new-product-box.carousel.slide.visible-md.visible-lg{"data-ride" => "carousel"}
  
    .carousel-inner
      / Item 1
      .item.active.row
        - @products.limit(4).each do |product|
          .col-md-3
            = link_to image_tag(product.image.url),product
            
      / Item 2
      .item.row
        - @products.limit(4).offset(4).each do |product2| 
          .col-md-3
            = link_to image_tag(product2.image.url), product2
          
      
    / Controls
    %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
      %span.icon-prev
    %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
      %span.icon-next
#slider.top-sell-product
  %h3 Sản phẩm bán chạy
  #myCarousel.new-product-box.carousel.slide.visible-md.visible-lg{"data-ride" => "carousel"}
  
    .carousel-inner
      / Item 1
      .item.active.row
        - @products.limit(4).offset(30).each do |product|
          .col-md-3
            = link_to image_tag(product.image.url), product
            
      / Item 2
      .item.row
        - @products.limit(4).offset(34).each do |product2| 
          .col-md-3
            = link_to image_tag(product2.image.url),product2
          
      
    / Controls
    %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
      %span.icon-prev
    %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
      %span.icon-next

