!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Onlineshopping'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Onlineshopping'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  .container
    .header
      .row.row1
        .inline.col-md-2.col-xs-6.logo
          %a{href: "http://localhost:3000"}
            %p TM.VN
        .inline.col-md-5.col-xs-12.search-box
          = form_tag products_path, method: :get do
            %p
              = text_field_tag :search, params[:search], class: 'search-input'
              = submit_tag "Tìm", name: nil, class: 'search-btn'

        #numofproducts.inline.col-md-1.col-xs-4.cart.text-center
          = fa_icon "shopping-cart"
          = @cart.total_line
          =link_to "Giỏ hàng", root_path
        .inline.col-md-3.col-xs-8.account
          -if user_signed_in?
            = link_to 'Đăng xuất', destroy_user_session_path, method: :delete, class: 'logout'
          -else
            = link_to 'Đăng nhập', new_user_session_path, class: 'login'
            = link_to 'Đăng ký', new_user_registration_path, class: 'signup'
      .row.row2.visible-md.visible-lg
        .inline.col-md-2
          = link_to 'Trang chủ', root_path
        .inline.col-md-2
          = link_to 'Thời trang Nam', products_path
        .inline.col-md-2
          = link_to 'Thời trang Nữ', products_path
        .inline.col-md-2
          = link_to 'Thời trang bé Trai', products_path
        .inline.col-md-2
          = link_to 'Thời trang bé Gái', products_path
        .inline.col-md-2
          = link_to 'Liên hệ với chúng tôi', store_contact_path
    .main
      = render 'layouts/messages'
      = yield


    .footer
      .col-md-3.col-xs-4.col1
        %h5 Những trang chính
        %ul
          %li
            %a{href: "http://localhost:3000/thoitrangnam"} 
              Thời trang Nam
          %li
            %a{href: "http://localhost:3000/thoitrangnam"} 
              Thời trang Nữ
          %li 
            %a{href: "http://localhost:3000/thoitrangnam"} 
              Thời trang bé Trai
          %li 
            %a{href: "http://localhost:3000/thoitrangnam"} 
              Thời trang bé Gái

      .col-md-3.col-xs-4.col2
        %h5 Tài khoản của bạn
        %ul
          %li 
            %a{href: "http://localhost:3000/users/sign_up"} 
              Đăng ký
          %li 
            %a{href: "http://localhost:3000/users/sign_in"} 
              Đăng nhập
      .col-md-3.col-xs-4.col3
        %h5 Về TM.VN
        %ul
          %li 
            %a{href: "http://localhost:3000/store/about"} 
              Giới thiệu

      .col-md-3.col-xs-12.col4
        %h5 Chúng tôi trên mạng xã hội
        %li
          %a{href: "#{}"}
            = fa_icon "facebook"
            Facebook
        %li
          %a{href: "#{}"}
            = fa_icon "twitter"
            Twitter
        %li
          %a{href: "#{}"}
            = fa_icon "google-plus"
            Google plus
      .row.col-md-12.col5.text-center
        %p &copy; 2016  Bản quyên bởi tm.vn


    